@import "../3rd-parties/normalize/normalize.css"

ul {
	display:block;
	position: relative;
}
ul li {
	position: relative;
	margin-left:20px;
	cursor: pointer;
	list-style: none;
}
ul li>ul {
	display: none;
}
ul li:hover ul {
	display: none;
}
ul li h3 {
	font-weight: normal;
}
ul li:hover h3 {
	text-decoration: underline;
}
ul li:hover ul {
	display: inline-block;
}
li ul {
	top: 0px;
	left: 0px;
}
li ul li {
	position:relative;
}
ul li>ul>li>ul {
	display: block;
	width:500px;
	margin-bottom: 10px;
}
ul li ul li h4 {
	color:blue;
	text-decoration:underline;
	margin: 0;
	padding: 0;
}